<br>
<div *ngIf="client">
  <h3>{{client.name}} details <i (click)="editMode = true" class="fa fa-edit fa-sm" aria-hidden="true"></i></h3>
  <div class="col-md-12">
    <div class="col-md-3">
      <label>Name:
        <input [(ngModel)]="client.name" placeholder="Client name" [disabled]="!editMode"/>
      </label>
    </div>
    <div class="col-md-3">
      <label>Description:
        <input [(ngModel)]="client.description" placeholder="Client description" [disabled]="!editMode"/>
      </label>
    </div>
  </div>
</div>
<div class="btn-toolbar" *ngIf="editMode">
  <button (click)="save(); editMode = false" class="btn btn-sm btn-primary mx-2" type="button">Update</button>
  <button (click)="editMode = false" class="btn btn-sm btn-outline-primary mx-2">Cancel</button>
</div>
<br>

<button (click)="goBack()" class="btn btn-outline-primary btn-sm">go back</button>
